
.task {
  margin-bottom: 10px;
  transition: .3s;
  background-color: #e8e8e8;
  border-radius: 2px;
  padding: 10px;
  .my-row {
    display: flex;
    align-items: center;
    .userName, .mini-description, .userEmail, .taskState {
      display: flex;
      padding: 5px;
      padding-right: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 300px;
    }
    .mini-description, .description, .name{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .showMore {
      width: 100%;
    }
    label {
      padding-right: 10px;
      display: flex;
      align-items: center;
    }
  }
  img {
    max-width: 100%;
  }
}
